@CHARSET "UTF-8";

.pd-layout {
	position: absolute;
	height: 100%;
	overflow: hidden;
}
.pd-layout-west {
	left : 0;
	width: 240px;
	border-right: 2px solid #282828;
	overflow-y: auto;
}
.pd-layout-center {
	left: 240px;
	right: 240px;
}
.pd-layout-east {
	right: 0;
	width: 240px;
	border-left: 2px solid #282828;
	overflow-y: auto;
}

.pd-panel {
	background: #333;
	border-left: 4px solid #333;
	border-right: 4px solid #333;
	overflow: auto;
}
.pd-header {
	background: #333;
	border-top: 1px solid #4D4D4D;
	border-bottom: 1px solid #222;
	line-height: 2em;
	padding-left: 1em;
	font-weight: bold;
}
.pd-content {
	background: #333;
	-webkit-box-shadow: 0px 0px 6px 3px #222 inset;
	-moz-box-shadow: 0px 0px 6px 3px #222 inset;
    box-shadow: 0px 0px 6px 3px #222 inset;
}

.pd-accordion>:last-child {
	border-bottom: 1px solid #4D4D4D;
}

.pd-toolbar {
	background-color: #333;
}
.pd-toolbar-item {
	color: #F5F5DC;
	border: 0.1em solid #333;
}
.pd-toolbar-item:hover {
	color: #D44;
}
.pd-toolbar-item-active {
	background-color: #222;
	border-color: #000;
}
.pd-toolbar-item-separator {
	background-color: #202020;
	width: 2px;
	border-right: 1px solid #404040;
}

.pd-theme-manager {
	padding: 0.75em 1em;
}
.pd-template-container {
	background-color: #282828;
	-webkit-box-shadow: 0px 0px 8px 2px #181818 inset;
    -moz-box-shadow: 0px 0px 8px 2px #181818 inset;
    box-shadow: 0px 0px 8px 2px #181818 inset;
    border-bottom: 1px solid #404040;
    padding: 1em 0.75em;
    margin: 0.5em 0;
    height: auto;
}
.pd-template {
	background-color: #282828;
	display: inline-block;
	padding: 0.5em;
	font-family: monospace;
	font-size: 1em;
	text-align: center;
	position: relative;
}
.pd-template:hover {
	cursor: pointer;
}
.pd-template-selected {
	background-color: #FFF;
	color: #222;
}

.pd-navigation-manager {
	position: relative;
	padding: 1em;
}
.pd-navigation-pages {
	height: 5em;
	position: relative;
}
.pd-navigation-page {
	background-color: #FFF;
	color: #222;
	box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.5);
	border: 1px solid #444;
	width: 2.25em;
	line-height: 3em;
	font-size: 1em;
	text-align: center;
	font-family: monospace;
	position : absolute;
	left: 50%;
	top: 50%;
}
.pd-navigation-page-previous-previous {
	margin-left: -6em;
	margin-top: -1.5em;
	cursor: pointer;
}
.pd-navigation-page-previous {
	margin-left: -3.75em;
	margin-top: -1.5em;
	cursor: pointer;
}
.pd-navigation-page-current {
	font-size: 1.333333em;
	margin-left: -1.125em;
	margin-top: -1.5em;
}
.pd-navigation-page-next {
	margin-left: 1.5em;
	margin-top: -1.5em;
	cursor: pointer;
}
.pd-navigation-page-next-next {
	margin-left: 3.75em;
	margin-top: -1.5em;
	cursor: pointer;
}
.pd-navigation-arrow {
	color: #F5F5DC;
	font-size: 1.5em;
	text-align: center;
	line-height: 1em;
	width: 1em;
	position: absolute;
	top: 50%;
}
.pd-navigation-arrow-left {
	left: 0;
	margin-left: -0.25em;
	margin-top: -0.4em;
	cursor: pointer;
}
.pd-navigation-arrow-right {
	right: 0;
	margin-right: -0.25em;
	margin-top: -0.4em;
	cursor: pointer;
}
.pd-navigation-arrow-up {
	text-align: center;
	line-height: 0.5em;
	width: 100%;
	position: static;
}
.pd-navigation-controls {
	position: relative;
	padding: 0.5em 1em;
}
.pd-navigation-control {

}
.pd-navigation-page-select {
	width: 50%;
	height: 1.5em;
	display: inline-block;
}
.pd-navigation-page-counter {
	width: 50%;
	line-height: 1.5em;
	text-align: right;
	display: inline-block;
}

.pd-property-browser {
	padding: 0.75em 1em;
}
.pd-property {
	margin: 0.3em 0;
}
.pd-property-label {
	border-bottom: 1px solid transparent;
	display: inline-block;
	width: 50%;
	padding: 0.3em 0;
}
.pd-property-control {
	background-color: #222;
	color: #F5F5DC;
	-webkit-box-shadow: 0px 0px 8px 2px #181818 inset;
    -moz-box-shadow: 0px 0px 8px 2px #181818 inset;
    box-shadow: 0px 0px 8px 2px #181818 inset;
    border-bottom: 1px solid #444;
	padding: 0.3em 0.6em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	width: 50%;
}
.pd-property-control[readonly=readonly] {
	opacity: 0.5;
}
.pd-property-control[type=color] {
	padding: 0.2em 0.4em;
}

.pd-price-service {
	padding: 0.5em 1em;
}

.pd-price-service-item {
	background-color: #696;
	color: #222;
	box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.5);
	border: 1px solid #444;
	width: 100%;
	line-height: 1.5em;
	font-size: 1em;
	padding: 0 0.5em;
	margin: 0.5em 0;
	cursor: pointer;
}
.pd-price-service-category {
	background-color: #DD4444;
	font-size: 1.2em;
}
.pd-price-service-level-1 {
	padding-left: 1em;
}
.pd-price-service-level-2 {
	padding-left: 2em;
}
.pd-price-service-level-3 {
	padding-left: 3em;
}

.rasta .rasta-color-green {
	color : #9C9 !important;
}
.rasta .rasta-color-red {
	color : #D44 !important;
}
.rasta .rasta-color-yellow {
	color : #FD8 !important;
}

#logo {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 40px;
	background-color: #FC8;
	color: #222;
	border-top: 8px solid #696;
	border-bottom: 8px solid #D44;
	font-weight: bold;
	font-size: 24px;
	line-height: 24px;
	text-align: center;
}

#panel-west {
	position: absolute;
	top: 40px;
	bottom: 0;
	left: 0;
	right: 0;
}

#panel-east {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#ws-items {
	padding: 0.4em;
}

#ws-items>.pd-toolbar-item {
	margin: 0.16em;
	margin-right: 0.1em;
	padding: 0.24em;
	font-size: 2em;
	color: #F5F5DC;
	border: 0.1em solid #333;
}

#ws-items>.pd-toolbar-item:hover {
	background-color: #222;
	color: #D44;
	border-color: #000;
}

#ws-items>.pd-toolbar-item-active {
	background-color: #222;
	border-color: #000;
}

#ws-items>.pd-toolbar-item-separator {
	background-color: #202020;
	width: 2px;
	border-right: 1px solid #404040;
}
