@CHARSET "UTF-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea, select {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 1em;
	font: inherit;
	line-height: 1em;
	text-decoration: none;
	list-style: none;
	vertical-align: baseline;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.layout {
	position: absolute;
	height: 100%;
	overflow: hidden;
}

.layout-west {
	left : 0;
	width: 240px;
	
	border-right: 2px solid #282828;
	
	overflow-y: auto;
}

.layout-center {
	left: 240px;
	right: 240px;
}

.layout-east {
	right: 0;
	width: 240px;
	
	border-left: 2px solid #282828;
	
	overflow-y: auto;
}

.pd-panel {
	background: #333;
	border-left: 4px solid #333;
	border-right: 4px solid #333;
	overflow: auto;
}

.pd-header {
	background: #333;
	border-top: 1px solid #4D4D4D;
	border-bottom: 1px solid #222;
	line-height: 2em;
	padding-left: 1em;
	font-weight: bold;
}

.pd-content {
	background: #333;
    box-shadow: 0px 0px 6px 3px #222 inset;
}

hr {
	background-color: #202020;
	height: 1px;
	border: 0;
	border-bottom: 1px solid #404040;
}
